@import url(https://fonts.googleapis.com/css?family=Bangers);

.navbar{
    margin: 10px 10px 10px 30px;
    padding: 10px;
    height:30px;
}

.navbar .navbar-header{
  background-image: url(/assets/images/header-background.jpg);
  border: 3px solid white;
  border-radius: 10px;
  box-shadow: 5px 5px;
  font-family: 'Bangers', cursive;
  font-size: 50pt;
  font-style: normal;
  margin-left: -30px;
  padding: 5px 15px 5px 15px;
  position: absolute;
  top: 0px;
}
.navbar .navbar-header .navbar-brand{
  color: #fff;
  text-decoration: none;
  text-shadow: 0 0 15px #000;
}
.navbar .navbar-items{
  float: right;
}
.navbar ul ,
.navbar ul li{
  display: inline-block;
  margin: 0 15px 0 0;
}

.navbar ul li,
.navbar ul li a{
  color: #fff;
  font-family: 'Bangers', cursive;
  font-size: 20pt;
  text-decoration: none;
  text-shadow: 0 0 5px #000;

  transition: all 100ms linear;
  -ms-transition: all 100ms linear;
  -webkit-transition: all 100ms linear;
}
.navbar ul li:hover,
.navbar ul li a:hover{
  color: #999;
  -ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(1.5); /* Safari */
  transform: scale(1.5);
}
